.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #525151;
  border-radius: 4px;
  padding: 4px 11px;
}

.ant-table-tbody > tr.ant-table-row-selected td, .ant-table-tbody > tr.ant-table-row-selected:hover td {
  color: inherit;
  background: #252935;
}

.ant-time-picker-panel-input {
  background: transparent;
}

td > p:last-child {
  margin: 0;
}

.ant-btn-background-ghost {
  color: #7d7d7d;
  border-color: #7d7d7d;
}